
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}
:root{
  --red: #d01c28;
  --gray: #2e2e2e;
}
body{
  font-family: "Poppins";
  
}
.container{
  margin: 0 auto;
  max-width: 1280px;
}
nav{
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
 
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: #efeeee;
  width: 500px;
  height: 50px;
  border-radius: 50px;
}
li{
  list-style-type: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
  
}
li a{
  color: rgb(20, 19, 20);
  text-decoration: none;
  font-weight: 400;
  
}
li a:hover{
  color: #ffffff;
  padding: 8px 14px;
  border-radius: 50px;
  background-color:rgb(107, 161, 191);
  transition: all 3ms;
}


button{
  all:unset;
  padding: 4px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
  border-radius: 4px;
}
button:hover{
  color: var(--red);
  background-color: #efeeee;
}

.hero{
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
}
.hero h1{
  font-size: 108px;
  font-weight: 800;
  line-height: 102px;
}
.hero p{
  
  font-weight: 600;
  width: 400px;
  color: var(--gray);
}
.hero-content{
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.hero-btn{
  display: flex;
  gap: 40px;
}

.secondary-btn{

  background: transparent;
  color: var(--gray);
  border: 1px solid gray;

}

.shoping p{
  font-size: 14px;
  margin-bottom: 8px;
}
.brand-icon{
  display: flex;
  gap: 16px;
}